.bru {

    background-repeat: no-repeat;
    max-width: 23.9%;
    height:50%;
    background-position: center center;
    text-align:center;
    margin:auto;
    padding:0;
}

.window {

    background-repeat: no-repeat;
    max-width: 23.9%;
    height:50%;
    background-position: center center;
    text-align:center;
    margin:auto;
    padding:0;
}

.icon-resize {
    max-width: 60%;
    height: 100%;
    text-align:center;
    margin:auto;
    padding:0;
}

.icon-resize-csharp {
    max-width: 50%;
    height: 70%;
    text-align:center;
    margin:auto;
    padding:0;
}