.bru {

    background-repeat: no-repeat;
    max-width: 23.9%;
    height:50%;
    background-position: center center;
    text-align:center;
    margin:auto;
    padding:0;
}

.window {

    background-repeat: no-repeat;
    max-width: 23.9%;
    height:50%;
    background-position: center center;
    text-align:center;
    margin:auto;
    padding:0;
}